Django==1.6
M2Crypto==0.22.3
django-tastypie
django_extensions
django-simple-history
python-dateutil
django_databrowse
numpy
Unipath
GitPython
factory-boy
pytz
pyodbc
pycups
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
git+https://github.com/botswana-harvard/edc-consent@develop#egg=edc-consent
git+https://github.com/botswana-harvard/edc-offstudy@develop#egg=edc-offstudy
git+https://github.com/botswana-harvard/edc-device@develop#egg=edc-device
